flows/Wallet_Inserir_Endereco.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <choices>
        <name>Input_name_moeda</name>
        <choiceText>{!Name_Moeda}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Name_Moeda</elementReference>
        </value>
    </choices>
    <decisions>
        <name>Existe_input_Name_Moeda</name>
        <label>Input Moeda?</label>
        <locationX>170</locationX>
        <locationY>303</locationY>
        <defaultConnector>
            <targetReference>inicio_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não Existe</defaultConnectorLabel>
        <rules>
            <name>Existe</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Name_Moeda</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ID_Moeda</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>inicio_1</targetReference>
            </connector>
            <label>Existe</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Lista_Todas_Moedas</name>
        <dataType>String</dataType>
        <displayField>Icone_Sigla_Nome__c</displayField>
        <object>Coin__c</object>
        <outputAssignments>
            <assignToReference>ID_Moeda</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Name_Moeda</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <interviewLabel>Wallet Inserir Endereço {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Wallet Inserir Endereço</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Criar_endere_o</name>
        <label>Criar endereço</label>
        <locationX>797</locationX>
        <locationY>57</locationY>
        <connector>
            <targetReference>Endereco_inserido</targetReference>
        </connector>
        <faultConnector>
            <targetReference>erro_insert</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Endereco__c</field>
            <value>
                <elementReference>Public_Address1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Moeda__c</field>
            <value>
                <elementReference>ID_Moeda</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>nome_moeda1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>qtd__c</field>
            <value>
                <elementReference>qtd_moeda1</elementReference>
            </value>
        </inputAssignments>
        <object>Wallet__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Criar_endereco_2</name>
        <label>Criar endereço</label>
        <locationX>800</locationX>
        <locationY>563</locationY>
        <connector>
            <targetReference>Endereco_inserido</targetReference>
        </connector>
        <faultConnector>
            <targetReference>erro_insert</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Endereco__c</field>
            <value>
                <elementReference>Public_Address2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Moeda__c</field>
            <value>
                <elementReference>ID_Moeda</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>nome_moeda2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>qtd__c</field>
            <value>
                <elementReference>qtd_moeda2</elementReference>
            </value>
        </inputAssignments>
        <object>Wallet__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <screens>
        <name>Endereco_inserido</name>
        <label>Endereco inserido</label>
        <locationX>810</locationX>
        <locationY>293</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>endereco_ok</name>
            <fieldText>&lt;p&gt;Endereço pra moeda {!Name_Moeda} inserido com sucesso!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>erro_insert</name>
        <label>erro_insert</label>
        <locationX>671</locationX>
        <locationY>293</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>msg_erro_insert</name>
            <fieldText>&lt;p&gt;Houve erro ao inserir o endereço! &lt;/p&gt;&lt;p&gt;Tente Novamente.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>inicio_0</name>
        <label>inicio</label>
        <locationX>275</locationX>
        <locationY>62</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Criar_endere_o</targetReference>
        </connector>
        <fields>
            <name>title1</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Inserir Endereço&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>sigla_moeda1</name>
            <choiceReferences>Lista_Todas_Moedas</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Escolha a moeda do endereço:</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>nome_moeda1</name>
            <dataType>String</dataType>
            <fieldText>Nome do endereço</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>qtd_moeda1</name>
            <dataType>Number</dataType>
            <fieldText>Quantidade de moedas neste endereço</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>8</scale>
        </fields>
        <fields>
            <name>Public_Address1</name>
            <dataType>String</dataType>
            <fieldText>Public Address (opcional)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>inicio_1</name>
        <label>inicio_com_input</label>
        <locationX>278</locationX>
        <locationY>563</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Criar_endereco_2</targetReference>
        </connector>
        <fields>
            <name>title2</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Inserir Endereço&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>sigla_moeda2</name>
            <choiceReferences>Input_name_moeda</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Input_name_moeda</defaultSelectedChoiceReference>
            <fieldText>Escolha a moeda do endereço:</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>nome_moeda2</name>
            <dataType>String</dataType>
            <fieldText>Nome do endereço</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>qtd_moeda2</name>
            <dataType>Number</dataType>
            <fieldText>Quantidade de moedas neste endereço</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>8</scale>
        </fields>
        <fields>
            <name>Public_Address2</name>
            <dataType>String</dataType>
            <fieldText>Public Address (opcional)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>35</locationX>
        <locationY>299</locationY>
        <connector>
            <targetReference>Existe_input_Name_Moeda</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>msg_obs_endereco</name>
        <text>&lt;p&gt;&lt;span style=&quot;color: rgb(173, 173, 173);&quot;&gt;(Endereços se referem a quantidade de moedas em Hold em Wallets, Exchanges e outros lugares)&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>ID_Moeda</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Name_Moeda</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
